<div id="divHeader">
    <div class="divlogoClient">
        <img src="@Url.Content("~/Content/Images/logoClient.png")" alt="Alternate Text" />
    </div>
    <div id="headTitle">@Intranet.Helpers.AppSettings.AppTitle</div>
</div>
