@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}
@section Css
{
    @Html.IncludeCSS(Url.Content("~/Content/Css/ModalUsuario.css"))
}
@section JavaScript
{
    @Html.IncludeJS(Url.Content("~/Content/Scripts/ModalUsuario.js"))
}
<h2>Usuários</h2>
<div style="margin-top: 10px;">
    <table id="tblListGeral" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <td><strong>Nome</strong></td>
                <td><strong>Login</strong></td>
            </tr>
        </thead>
        <tbody>            
        </tbody>
    </table>
</div>
