@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}
@section Css
{
    @Html.IncludeCSS(Url.Content("~/Content/Css/ModalBuscaAD.css"))
}
@section JavaScript
{
    @Html.IncludeJS(Url.Content("~/Content/Scripts/ModalBuscaAD.js"))
}
<h2>Busca Active Directory</h2>
<div>
    @using (Html.BeginForm())
    {
        <table class="tblForm" cellpadding="0" cellspacing="0">
            <tr>
                <td>Nome</td>
                <td>
                    @Html.IntranetTextBox("txtUserName", "", true)
                </td>
                <td>
                    <a class="button" id="btnBuscar"><strong>Buscar</strong></a>
                </td>
            </tr>
        </table>
        <div style="clear: both;"></div>
        <div style="margin-top: 10px;">
            <table id="tblListGeral" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <td><strong>Nome</strong></td>
                        <td><strong>Login</strong></td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    }
</div>
