* { margin: 0px 0px 0px 0px; font-family: Verdana; font-size: 11px; }
H2 { font-family: Verdana; }
a { text-decoration: none; color: #fff; }
body { color: #232323; background-color: #fff; }
input { font-family: Verdana; color: #232323; }
    input[type=text] { border: 1px solid #ccc; padding: 4px !important; width: 150px; }
    input[type=password] { border: 1px solid #ccc; padding: 4px !important; width: 150px; }
select { font-family: Verdana; color: #232323; height: 23px; width: 160px; border: 1px solid #ccc; }

#divContent { margin: 10px 25px 10px 10px; }
#barraFerramentas { padding: 4px; background-color: #fff; border: 1px solid #ccc; margin-top: 10px; overflow: auto; }

.tabs { margin-top: 10px; }
.tdAcao { width: 50px; text-align: center !important; }
.tdAcaoLine { text-align: center !important; }
.lnk { color: Red !important; }
.lnkOff { color: #ccc !important; cursor: default; }
.button { padding: 4px; }
.txtOn { background-color: #FFFFD9; border: 1px solid #000 !important; }
.lbl { display: block; margin-bottom: 3px; }
.txtInput { padding: 3px; }
.required { border: 1px solid #000 !important; }
.txtTextArea { padding: 3px; font-family: Verdana; color: #232323; }
.txtdisabled { background-color: #F1F1F1; border: 1px solid #ccc !important; }
.submit { padding: 5px; }
.spanMessage { color: Red; font-weight: bold; }
#divUserInfo { padding: 3px; background-color: #666; color: #fff; font-weight: bold; overflow: auto; }
#divHeader { height: 80px; border-bottom: 1px solid #666; background-color: #f3f3f3; }
    #divHeader .divlogoClient { float: left; margin-top: 10px; margin-left: 10px; }

#headTitle { font-weight: bold; float: left; margin-top: 30px; margin-left: 30px; font-size: 14px; font-variant: small-caps; }

#divLogin { margin: 50px auto; border: 1px solid #ccc; width: 320px; }
    #divLogin .divLoginTitle { padding: 3px; background-color: #ccc; font-weight: bold; margin-bottom: 5px; }
    #divLogin .divLoginForm { padding: 5px; }
#divMenu { padding: 0px; background-color: #666; color: #fff; font-weight: bold; }
.selectedRow { background-color: #fff7b7; }
.cursorPointer { cursor: pointer; }
.clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; clear: both; }
.clearfix { zoom: 1; }
.row { list-style-type: none; padding-bottom: 10px; }
.col { list-style-type: none; padding: 5px 5px; float: left; }
.ulForm { padding: 10px 0 0 0; margin: 5px; }
    .ulForm li span { font-weight: bold; margin-bottom: 3px; display: block; }

#totalRegisters { color: Red; font-weight: bold; margin-bottom: 5px; }

#tblList { border-right: 1px solid #ccc; border-top: 1px solid #ccc; width: 100%; }
    #tblList thead { font-weight: bold; background-color: #f2f2f2; }
        #tblList thead tr td { border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; padding: 5px; }
    #tblList tbody tr td { border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; padding: 5px; }
        #tblList tbody tr td.img { border-bottom: 1px solid #ccc; padding: 5px; width: 55px; text-align: center; }

.inputError { border: 1px solid red !important; background-color: #FFF3F3; }
.abaErro { color: red !important; font-weight: bold !important; }

#infoHistoryLogin { border: 1px solid #ccc; background-color: #e8e8e8; padding: 4px; }
.UIDate { width: 70px !important; }

.detachedRed { color: #fff !important; font-weight: bold !important; background-color: #ff5e5e !important; }
.detachedBlack { color: #000 !important; font-weight: 800 !important; background-color: #000 !important; }
.detachedBlue { color: #fff !important; font-weight: bold !important; background-color: #1217ff !important; }
.detachedSilver { color: #000 !important; font-weight: bold !important; background-color: #bfbfbf !important; }

.tblForm { margin-top: 10px; margin-left: 5px; float: left; }
    .tblForm tr td { border-bottom: 1px solid #ccc; padding: 3px; height: 25px; }

#tabs-2 { overflow: auto; }

#tblListGeral { width: 100%; border-left: 1px solid #808080; border-bottom: 1px solid #808080; }
    #tblListGeral thead tr td { padding: 4px; border-top: 1px solid #808080; background-color: #dcdcdc; border-right: 1px solid #808080; font-weight: bold; }
    #tblListGeral tbody tr td { padding: 4px; border-top: 1px solid #808080; border-right: 1px solid #808080; cursor: pointer; }

.trOn { background-color: #fff7b7; }
.tdSubTituloForm { background-color: #f3f3f3; font-weight: bold; }
